@charset "utf-8";
/* CSS Document voor Floats project*/
body {
	font-family:Verdana, Geneva, sans-serif;
	margin:0;
	padding:0;
}
div {
	/*outline:2px dashed silver;*/
	margin:0;
	padding:0;
}
img {
	margin-right:1em;
	float: left;
}

#anderemodellen {
	margin-top: 0;
	margin-bottom: 0;
}

.thumb>img {
	margin-bottom: 5px;
}

.midden {
	background: #55C5E8;
}
.wrapper {
	width:60%;
	margin: 0 auto;
	padding:0;
	outline:none;
	border:none;	
}
.links {
	background:#FD6943;
	padding:1em 2.5%;
	width: 60%;
	float:left;
}
.rechts {
	background:#55C5E8;	
	padding:1em 2.5%;
	width: 30%;
	float:left;
}
.sectie {
	background:#F7F7F7;
	padding:1em;
	margin: 1em 0;
}
.thumb {
	background:#A5CB4E;
	width:80px;
	height:140px;
	padding:0.625em 2.6em;
	margin:0.625em;
	float:left;
	text-align: center;
	font-family: Courier, sans-serif;
	letter-spacing: 0.1em;
}
.header {
	background:#D93E89;
	padding:1em 2em;
}
.footer {
	background:#F4E740;
	padding:1em 2em;
}
.header h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:4em;
	color:white;
	margin:0.25em 0;
}
.cf {
    clear:both
}

/*clearfix hack*/
.clearFix::before, 
.clearFix::after {
    content: " ";
    display: table;
}
.clearFix::after {
    clear: both;
}
/* enkel voor IE6/7 */
.clearFix {
    *zoom: 1;
}