
body{
    width: 1024px;
    margin: 0 auto;
    background-color: white;
}

header {
    background-color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    padding-right: 1em;
    height: 100px;
    
}
h1 {
    color: red;
}

h2 {
    color: green;
}

nav {
    background-color: darkgray;
    width: 20%;
    height: 49em;
    float: left;
    margin: 0em auto;
    
}
nav a {
    text-decoration: none;
    color: white;
}
ul li {
    font-family: monospace;
    list-style-type: none;
}

#main {
    font-family: Arial, Helvetica, sans-serif;
}


#main > img {
    border-top: 16px solid purple;
    border-bottom: 16px solid purple;
    width: 80%;
}

#frmZoeken {
    width: 80%;
    float: right;
}

form categorie {
    float: left;
}

#tabel, tr, td{
   /* border: 1px solid black; */
    padding: 0.5em;
}


footer {
    background-color: #79796a;
    text-align: center;
    float: right;
    width: 1024px;
}